.SideBar {
  width: 20rem;
}

.list {
  list-style: none;
  padding-left: 0;
}

.list > li {
  padding: 0.35rem 1.5rem;
  cursor: pointer;
  font-weight: bolder;
}
.list > li:hover,
.list > li.active {
  color: #62bc93;
}
