.App {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'nav nav' '. .';
}

.App > *:first-child {
  grid-area: nav;
}

.App > * {
  overflow-y: auto;
}

.main {
  max-width: 740px;
  margin: auto;
}
